@font-face {
  font-family: "lovely";       
  src: url("./fonts/The-Lovely.ttf");
}

@font-face {
  font-family: "lilirose";       
  src: url("./fonts/LiliroseRegular.ttf");
}

@font-face {
  font-family: 'beautiful-simple';
  src: url('./fonts/Beautiful-in-Simplicity-Italic.otf') format('woff');
}

@font-face {
  font-family: 'sweet';
  src: url('./fonts/BeyondSweet-Regular.otf') format('woff');
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: beautiful-simple !important ;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'lilirose';
}

ul {
  margin-top: 0;
}

#root {
  margin: 0;
}

.MuiDataGrid-cellContent {
  white-space: normal;
  word-wrap: break-word;
}